/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-theme{background-color: purple; height: 60px; color: white;}

#main{
  background-color: #f7f7f7;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#main > app-take1 > app-forms-environment > section{
background-color: lightgreen;
}

#main > app-take2 > app-forms-environment > section{
  background-color: pink;
}

#main > app-take3 > app-forms-environment > section{
  background-color: cyan
}

h1{
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
