#mainsection{
  margin: 0 auto;
}
#mainSection, .section{
  min-height: 400px;
}

.formHome{
width:80%;
height: 80%;
margin: 30px;
padding: 10px;
text-align: center;
}
.formHome a{
  position: relative;
  top: 130px;
}


mat-card:hover{
      box-shadow: 0px 4px 1px -1px rgb(0 0 0 / 40%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      cursor: pointer;
}

mat-card a{
    font-size: 20px;
}

.odd .formHome{
  background-color: thistle;
}

.even .formHome{
  background-color:white;
}
