<section id="mainSection" class="container">
<section class="row section">
  <!-- do *ngFor Here -->
  <section  class="section col-4" *ngFor="let item of items;let i = index; let even = even; let odd = odd"
  [ngClass]="{ odd: odd, even: even }">
    <mat-card matRipple class="formHome" >
      <a (click)="getPosition(i,items.length)" [routerLink]="'../'+item.name" href="/" >{{item.name | titlecase}}</a>
    </mat-card>
  </section>
</section>
</section>


