<mat-card class="form-matcard">
<form action="" class="form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label> Comment</mat-label>
      <!-- (ngModelChange)-->
      <input name="comment" (ngModelChange)="setComments()" [(ngModel)]="comment.comment" matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label> Description</mat-label>
      <input name="description" (ngModelChange)="setDescription()" [(ngModel)]="comment.description" matInput placeholder="Placeholder">
    </mat-form-field>
  </p>

  <input type="submit">

</form>
</mat-card>
