.form{
  padding: 10px;
  margin: 50px;
  text-align: center;
}

.form mat-form-field
{
  min-width: 45%;
}

.form-matcard{
width:90%;
margin: 10px auto;
}

input[type="submit"]{
  background-color: rgb(255, 228, 251);
  border-radius: 10%;
  cursor:not-allowed;
  width: 80px;
  height: 35px;
  pointer-events: none;
}
