.forms-environment-section{
  min-height: 100%;
  background-color: pink;
  padding:30px;
  position: relative;
}
.forms-environment-section p{
  text-align: center;
}


.forms-environment-section p a{
  font-size: 17px;
}

.sectionLink{
  position: absolute;
  z-index: 1;
  width: 50px;
  background-color: lightgray;
  min-height: 77%;
    border-radius: 5px;
    top: 53px;
    cursor: pointer;
    pointer-events: none;
}
.sectionLink:hover{
  box-shadow: 0px 4px 1px -1px rgb(0 0 0 / 40%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.sectionLinkLeft{
  left: 10px;
}

.sectionLinkRight{
  right: 10px;
}

.arrow{
position: absolute;
z-index: 2;
top: 115px;
cursor: pointer;
}

.arrow.left{
left:23px;
}

.arrow.right{
right: 23px;
}
