<section class="forms-environment-section">
  <p><span><a routerLink="../home" href="/">Home</a></span></p>
  <span *ngIf="showLeft" class="sectionLink sectionLinkLeft"><i class="arrow left"></i></span>
  <!-- <p><i class="arrow left"></i></p> -->
<app-forms></app-forms>
<span *ngIf="showRight" class="sectionLink sectionLinkRight"><i class="arrow right"></i></span>
<!-- <p><i class="arrow right"></i></p> -->
</section>
